footer(class="section section--light" id="contact")
    div(class="footer wrapper")
        div(class="footer__contact")
            h3(class="sub-title sub-title--dark") Send us a message
            form(action="" class="form footer__form")
                input(type="email" class="form__input" placeholder="Your email")
                input(type="text" class="form__input" placeholder="Your name")
                input(type="text" class="form__input" placeholder="Your message")
                button(type="submit"  class="button button--dark footer__button") Send
        div(class="footer__info")
            h3(class="sub-title sub-title--dark") Contact us
            h2(class="title") By the same illusion which lifts the horison

            p(class="footer__item")
                span(class="footer__item-heading") call us
                span(class="footer__contact--item") +38 063 668 13 84
            p(class="footer__item")
                span(class="footer__item-heading") visit us
                span(class="footer__contact--item") 2905 West Drive, Buffalo Grove
            div(class="social-list footer__social-list")
                a(href="" class="social-list__item social-list__item--twitter")
                a(href="" class="social-list__item social-list__item--instagram")
                a(href="" class="social-list__item social-list__item--facebook")

        div(class="footer__line")
            div(class="footer__copyright")
                p Design by @mariuszdaniel
                ul(class="nav nav--dark  footer__nav")
                    li(class="nav__item")
                        a(class="nav__link" href="#home") Home
                    li(class="nav__item")
                        a(class="nav__link" href="#about") About us
                    li(class="nav__item")
                        a(class="nav__link" href="#services") Services
                    li(class="nav__item")
                        a(class="nav__link" href="#work") Work
                    li(class="nav__item")
                        a(class="nav__link" href="#contact") Contact us
