header(class="header" id="home")
  div(class="header__top-bar  wrapper")
    img(src="img/Dia.png" alt="" class="logo  header__logo")
    ul(class="nav  header__nav")
      li(class="nav__item")
        a(class="nav__link" href="#home") Home
      li(class="nav__item")
        a(class="nav__link" href="#about") About us
      li(class="nav__item")
        a(class="nav__link" href="#services") Services
      li(class="nav__item")
        a(class="nav__link" href="#work") Work
      li(class="nav__item")
        a(class="nav__link" href="#contact") Contact us
      li(class="nav__item  nav__item--highlighted")
        a(class="nav__link" href="#") Hire us
  div(class="header__cta  wrapper")
    h1(class="header__heading") Global digital agency
    p(class="header__paragraph") By the same illusion whoch lifts the horizon of the sea to the level of the spectator on a hillside, the sable  cloud beneath.
    a(href="" class="button button--light header__button") Learn more
  div(class="slider header__slider  wrapper")
    img(src="img/slide-img-1.jpg" alt="" class="slider__image")
    div(class="slider__caption")
      h3(class="slider__caption-title") Intro
      p(class="slider__caption-text") By the same illusion which lifts the horizon.
    button(class="slider__nav-link  slider__nav-link--left")
    button(href="#" class="slider__nav-link  slider__nav-link--right")
    ul(class="header__social-links-list")
      li(class="header__social-links-item")
        a(href="" class="header__social-link") Facebook
      li(class="header__social-links-item")
        a(href="" class="header__social-link") Twitter
      li(class="header__social-links-item")
        a(href="" class="header__social-link") Instagram