section(class="section  section--light  header__padding-clear" id="about")
    div(class="welcome")
        h3(class="sub-title sub-title--dark") Welcome
        p(class="welcome__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.











