section(class="section section--dark  features__bg-position-fix")
    div(class="features wrapper")
        div(class="features__bg")
        h3(class="sub-title sub-title--light features__sub-title") Features
        h2(class="title features__title") By the same illusion which lifts the horizon.
        div(class="features__list")
            div(class="features__item")
                img(src="img/features-item-icon-1.svg" alt="" class="features__img")
                p(class="features__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out.
            div(class="features__item")
                img(src="img/features-item-icon-2.svg" alt="" class="features__img")
                p(class="features__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out.
            div(class="features__item")
                img(src="img/features-item-icon-3.svg" alt="" class="features__img")
                p(class="features__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out.