section(class="section section--light particles__relative")
    div(class="particles")
        span(class="particles__item particles__item--1")
        span(class="particles__item particles__item--2")
        span(class="particles__item particles__item--3")
        span(class="particles__item particles__item--4")
        span(class="particles__item particles__item--5")
        span(class="particles__item particles__item--6")
        span(class="particles__item particles__item--7")
        span(class="particles__item particles__item--8")
        span(class="particles__item particles__item--9")
        span(class="particles__item particles__item--10")
        span(class="particles__item particles__item--11")
        span(class="particles__item particles__item--12")

        div(class="cta")
            h2(class="cta__title") Vision, Passion, Result
            p(class="cta__text") By the same illusion which lifts the horison of the sea to the level of the spectator on a hillside, the sable cloud beneath.
            a(href="" class="button button--dark cta__button") Apply