section(class="section section--light")
    div(class="process  wrapper")
        div(class="process__info")
            h3(class="sub-title  sub-title--dark") Process
            h2(class="title") By the same illusion which lifts the horizon.
            p(class="process__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside,
            p(class="process__text") the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, <br/> whose upper half was strewn with silver.
        div(class="process__card-list")
            div(class="process__item--wrapper")
                div(class="process__item")
                    div(class="process__item-num") 1
                        p By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
            div(class="process__item--wrapper")
                div(class="process__item")
                    div(class="process__item-num") 2
                        p By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
            div(class="process__item--wrapper")
                div(class="process__item")
                    div(class="process__item-num") 3
                        p By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
            div(class="process__item--wrapper")
                div(class="process__item")
                    div(class="process__item-num") 4
                        p By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.