section(class="section" id="services")
    div(class="what-we-do  wrapper")
        h2(class="what-we-do__heading") What we do
        div(class="what-we-do__card")
            img(src="img/what-we-do-1.jpeg" alt="" class="what-we-do__img")
            h3(class="what-we-do__title") By the same illusion which lifts the horizon.
            p(class="what-we-do__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
        div(class="what-we-do__card")
            img(src="img/what-we-do-2.jpeg" alt="" class="what-we-do__img")
            h3(class="what-we-do__title") By the same illusion which lifts the horizon.
            p(class="what-we-do__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
        div(class="what-we-do__card")
            img(src="img/what-we-do-3.jpeg" alt="" class="what-we-do__img")
            h3(class="what-we-do__title") By the same illusion which lifts the horizon.
            p(class="what-we-do__text") By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.