section(class="section" id="work")
    div(class="testimonials wrapper")
        h3(class="sub-title sub-title--dark testimonials__sub-title") Testimonials
        h2(class="title testimonials__title") By the same illusion which lifts the horison.
        div(class="testimonials__list")
            div(class="testimonials__item")
                div(class="testimonials__img-container")
                    img(src="img/testimonial-1.png" alt="" class="testimonials__img")
                p(class="testimonials__text") “By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.”
                span(class="testimonials__name") John Wane
                span(class="testimonials__job") CEO
            div(class="testimonials__item")
                div(class="testimonials__img-container")
                    img(src="img/testimonial-2.png" alt="" class="testimonials__img")
                p(class="testimonials__text") “By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.”
                span(class="testimonials__name") John Wayne
                span(class="testimonials__job") SEO
            div(class="testimonials__item")
                div(class="testimonials__img-container")
                    img(src="img/testimonial-3.png" alt="" class="testimonials__img")
                p(class="testimonials__text") “By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.”
                span(class="testimonials__name") John Wayne
                span(class="testimonials__job") SEO