$main-font: 'Muli', sans-serif;
$font-size: 16px;
$line-height: 1.5;

$slider-height: 640px;
$slider-height-lg: $slider-height * 0.66;
$slider-height-md: $slider-height * 0.5;

$main-color: #56ccf2;
$dark-blue-color: #2F80ED;
$accent-color: #fcc304;
$option-color-1: #F25656;
$option-color-2: #03D542;
$light-color: #fff;
$dark-color: #253757;
$text-color: #334563;

$break-point-sm: 425px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$container-max-width: 1200px;
