extends common/layout

block content
  main.main
    include includes/index/banner
    include includes/index/services
    include includes/index/process
    include includes/index/features
    include includes/index/testimonials
    include includes/index/particles
